<head>
  <style media="screen">
    h1 {
      font-family: 'Montserrat', sans-serif;
    }
    body {
      font-family: 'Esteban', serif;
    }
  </style>
  <link href="https://fonts.googleapis.com/css?family=Esteban|Montserrat" rel="stylesheet">
</head>

<div style="margin: 2%;">
  <h1 style="color: #2b78a2;">{{model.title}}</h1>
  <p>Job Title: {{model.body}}</p>
  <p>Phone Number: {{model.phoneNumber}}</p>
</div>
